.Dbox {
    width: 300px;
    height: 140px;
    background-color: #67A740;
    color: var(--white);
    border-radius: 10px;
    margin: 0px auto;
    margin-top: 20px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

.boxIcon{
   width: 40px;
   height: 40px;
}

  /* Responsiveness */
  
  @media screen and (max-width: 1620px) {
    .Dbox {
      width: 250px;
      height: 130px;
      gap: 15px;
    }
  }
  
  